<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div style="
      background-image: url('../../../../../assets/5.jpg');
       background-size: cover;
       background-position: center;
       height: 300px"></div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <br/>
      <p style="text-align: center">
        <button routerLink="/index" mat-stroked-button color="warn">Ver nuestras pizzas</button>
      </p>
      <br/>
      <mat-card>
        <mat-card-header>
          <mat-card-title style="color: aliceblue">Pizzeria CODE</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p style="color: aliceblue">¡Bienvenido a Code!</p>

          <p style="color: aliceblue"> Déjate tentar por nuestro exquisito menú de pizzas artesanales, elaboradas con
            los ingredientes más
            frescos y
            auténticos. Desde las clásicas Margarita y Pepperoni hasta las innovadoras BBQ Chicken y Cuatro Quesos, cada
            bocado es una explosión de sabor que deleitará tu paladar.</p>

          <p style="color: aliceblue"> Nuestro equipo de expertos pizzeros trabaja con pasión para ofrecerte la mejor
            experiencia gastronómica,
            garantizando que cada pizza que sale de nuestro horno sea una obra maestra de la cocina italiana.</p>

          <p style="color: aliceblue">Además de nuestras deliciosas pizzas, también ofrecemos una amplia variedad de
            entrantes, ensaladas frescas
            y
            postres tentadores para complementar tu comida.</p>

          <p style="color: aliceblue"> ¿Tienes un evento especial? ¡No te preocupes! Contamos con servicio de catering
            para hacer de tu
            celebración
            un éxito memorable.</p>

          <p style="color: aliceblue"> Ven y únete a nosotros en [Dirección de la Pizzería], donde la calidad y el sabor
            se unen para crear
            momentos
            inolvidables. ¡Te esperamos con los brazos abiertos!</p>
        </mat-card-content>
        <mat-card-actions>
        </mat-card-actions>
      </mat-card>
    </div>

  </div>

</div>
