<!--button mat-button color="primary" (click)="openDialog()">Open dialog</button>
<button mat-button color="primary" (click)="loginWithGoogle()">login</button>
<button mat-button color="primary" (click)="cerrar()">Cerrar sesion</button>
<button mat-button color="primary" (click)="registrar()">Registrar</button>
<br/>
<br/>
<br/>
<br/>
<button mat-button color="primary" (click)="create()">Crear</button>
<button mat-button color="primary" (click)="getAllx()">getAll</button-->

<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 col-xs-12">
      <mat-card style="height: 250px; background-size: cover; background-image: url('../assets/Default_Pizza_0.jpg')">
        <mat-card-header>
          <mat-card-title style="color: aliceblue">Pizzas code</mat-card-title>
          <mat-card-subtitle>Bienvenido</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
      <mat-list style="background-color: #e7b03a" role="list">
        <mat-list-item routerLink="/index" role="listitem">Nuestras pizzas</mat-list-item>
        <mat-list-item routerLink="/" role="listitem">Quienes somos</mat-list-item>
      </mat-list>
    </div>
    <div class="col-md-9 col-xs-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

